@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

:root {
    /* colors */
    --bg: #F5F3FF;
    --white: #ffffff;
    --purple-main: #7F77DD;
    --purple-deep: #26215C;
    --purple-muted: #AFA9EC;
    --purple-light: #EEEDFE;
    --red-main: #D95252;
    --red-light: #FFF0F0;
    --gray-basic: #bdbdbd;

    /* text colors */
    --text-dark: #26215C;
    --text-muted: #AFA9EC;

    /* typography */
    --font-size-xs: 11px;
    --font-size-sm: 13px;
    --font-size-base: 15px;
    --font-size-md: 18px;
    --font-size-lg: 28px;
    --font-size-xl: 32px;

    --font-weight-regular: 400;
    --font-weight-medium: 480;
    --font-weight-semibold: 580;
    --font-weight-bold: 700;

    /* borders & shadows */
    --border: 1px solid rgba(83, 74, 183, 0.1);
    --shadow: 0 4px 20px rgba(83, 74, 183, 0.08);

    /* radii */
    --radius-card: 20px;
    --radius-btn: 12px;
    --radius-pill: 99px;

    /* categories */
    /* entertainment */
    --cat-ent-bg: #FFFBDA;
    --cat-ent-main: #F8EB89;
    --cat-ent-dark: #C7B000;

    /* sightseeing */
    --cat-sights-bg: #FFE1ED;
    --cat-sights-main: #FFAFCF;
    --cat-sights-dark: #DD3B7C;

    /* food & drinks */
    --cat-food-bg: #CFD7F9;
    --cat-food-main: #95A3DD;
    --cat-food-dark: #4961CC;

    /* transport */
    --cat-transport-bg: #CFF3DF;
    --cat-transport-main: #93D5AD;
    --cat-transport-dark: #166D37;

    /* shopping */
    --cat-shopping-bg: #FADBFF;
    --cat-shopping-main: #DDA8E2;
    --cat-shopping-dark: #7D2083;

    /* others */
    --cat-others-bg: #FFE8CB;
    --cat-others-main: #F8C489;
    --cat-others-dark: #C77400;

}