@import './styles/variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--bg);
    color: var(--text-dark);
}

.app-wrapper {
    max-width: 1048px;
    margin: 0 auto;
    padding: 20px 40px;
}

.page-container {
    padding: 0 10px;
}